nav {
    padding: 0 45px;
}

main {
    min-height: calc(100vh - 185px - 64px);
    padding: 1.5rem 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 530px;
}

.row .col.m7 {
    width: 322px;
}

.card-action {
    display: flex;
    justify-content: space-between;
}

.card-image img {
    height: 400px;
}

.searchArea {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-around;
}

.pages {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.pageBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    transition: all 0.1s ease-in-out;
}

.active {
    background-color: #bbdce8;
}

.pageBtn:hover {
    cursor: pointer;
    background-color: #f8d5d5;
}

.active:hover {
    background-color: #bbdce8;
}

.End {
    width: 85px;
}

.input-field {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0 0 10px 0 !important;
}

.input-field::placeholder {
    color: white;
}

.validate {
    background-color: aquamarine !important;
    border-radius: 25px 25px 0 0 !important;
    border-bottom: 0px !important;
}

.validate::placeholder {
    color: white;
    margin-left: 10px;
    padding: 0 5px !important;
}

.validate:focus {
    background-color: wheat !important;
    border-radius: 25px 25px 0 0 !important;
    overflow: hidden;
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    height: 70px;
    text-align: center;
}