nav {
    padding: 0 45px;
}

main {
    min-height: calc(100vh - 185px - 64px);
    padding: 1.5rem 0;
}

.movies{
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 530px;
}

.row .col.m7{
    width: 322px;
}

.card-action{
    display: flex;
    justify-content: space-between;
}

.card-image img{
    height: 400px;
}

.searchArea {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.pages{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.pageBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    width: 35px;
    height: 35px;
    transition: all 0.1s ease-in-out;
}

.pageBtn:hover{
    cursor: pointer;
    background-color: #f8d5d5;
}